#JavaAnswer {
  display: none;
}

#CSharpAnswer {
  display: none;
}

#RubyAnswer {
  display: none;
}

#NoAnswer {
  display: none;
}

p {
  border: 3px solid grey;
  float: center;
  text-align: center;
  color: purple;
}
